body {
  background-color: rgb(0, 78, 78);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ccc;
  text-align: center;
}
h2{
  color: rgb(0, 78, 78);
  text-transform: uppercase;
}

  @media (max-width: 476px){
form{
  background-color: white;
  color: black;
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  text-align: left;
}
}
@media (min-width: 476px) and (max-width: 768px){
  form{
  background-color: white;
  color: black;
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  text-align: left;
}
}
@media (min-width: 768px){
  form{
  background-color: white;
  color: black;
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  text-align: left;
}
}
form input[type=submit] {
  background-color: rgb(0, 78, 78);
  color: white;
  width: 100%;
  padding: 10px;
}
form input[type="text"]{
  width: 100%;
  padding:1px;
}
form input[type="email"]{
  width: 100%;
  padding:1px;
}
form textarea{
  width: 100%;
}
span{
  color: grey;
}
.container {
  display: block;
  position: relative;  
  padding-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;  
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkstyle {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eee;
}
.container input:checked ~ .checkstyle {
  background-color: rgb(33, 129, 207);
}
.checkstyle:after {
  content: "";
  position: absolute;
}
.container input:checked ~ .checkstyle:after {
  display: block;
}
.container .checkstyle:after {
  left: 3px;
  bottom:2px;
  width: 3px;
  height:5px;
  border: solid white;
  border-width: 0 2px 3px 0;  
  transform: rotate(45deg);
}

input[type=submit]:hover {
  background-color: forestgreen;
}

input[type=submit] {
  background-color: #008080;
  color: white;
  width:100%;
  
}